<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kitchenmind">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="ANDROID.PERMISSION.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/LightTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activities.ForgotPasssword"></activity>
        <activity
            android:name=".Activities.categoryActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity android:name=".Activities.RegisterActivity" />
        <activity android:name=".Activities.LoginActivity" />
        <activity
            android:name=".Activities.fullRecipeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName=".Activities.MainActivity"></activity>
        <activity android:name=".Activities.displayActivity" />
        <activity
            android:name=".Activities.editProfileActivity"
            android:parentActivityName=".Activities.settingsActivity" />
        <activity
            android:name=".Activities.settingsActivity"
            android:parentActivityName=".Activities.MainActivity" />
        <activity
            android:name=".Activities.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>